### Data Preparation
### Week 11
### Submitter - Himanshu Singh
### Storing Data and Final Project

Activity 8.01: Retrieving Data Accurately from Databases
The pets table has the following columns:

pet_name: The name of the pet.
pet_type: What type of pet it is, for example, cat or dog. Due to a lack of further information, we do not know which number represents what, but it is an integer and can be null.
treatment_done: This is also an integer column, and 0 here represents No, whereas 1 represents Yes.

In this activity, you will first connect to the petsdb database and check whether the connection has been successful. You will then create and execute a few SQL commands to answer the following questions:

* What is the count of people belonging to different age groups in the persons table?
* Which age group has the maximum number of people?
* How many people do not have a last name?
* How many people have more than one pet?
* How many pets have received treatment?
* How many pets have received treatment, and the type of pet is known?
* How many pets are from the city called east port?
* How many pets are from the city called east port, and who received treatment?

In [31]:
# Import the necessary libraries and connect to db


import pandas as pd
import sqlite3
with sqlite3.connect("petsdb") as conn:cursor = conn.cursor()


sql = "Select * from pets"
cursor.execute(sql)
results = cursor.fetchall()

* What is the count of people belonging to different age groups in the persons table?
* Which age group has the maximum number of people?
* How many people do not have a last name?
* How many people have more than one pet?
* How many pets have received treatment?
* How many pets have received treatment, and the type of pet is known?
* How many pets are from the city called east port?
* How many pets are from the city called east port, and who received treatment?

In [36]:
sql ="SELECT count(*), age FROM persons GROUP BY age"
result = cursor.execute(sql)

df = pd.DataFrame(result)
print("First column is Count and second column is Age")
print(df[[0, 1]].to_string(index=False, header=False))


sql1 ="SELECT age, COUNT(*) AS person_count FROM persons GROUP BY age ORDER BY person_count DESC LIMIT 1; "
result1 = cursor.execute(sql1)

df1 = pd.DataFrame(result1)
print("Age Group with maximum number of people")
print(df1.to_string(index=False, header=False))

sql2="SELECT COUNT(*) FROM persons WHERE last_name IS NULL;"
result = cursor.execute(sql2)

df = pd.DataFrame(result)
print("People Without a Last Name")
print(df.to_string(index=False, header=False))

sql3="SELECT COUNT(id) FROM (SELECT id FROM persons AS T1 JOIN pets AS T2 ON T1.id = T2.owner_id GROUP BY id HAVING COUNT(T2.pet_name) > 1) AS people_with_multiple_pets;"



result = cursor.execute(sql3)


df = pd.DataFrame(result)

print(f"People With More Than One Pet")
print(df.to_string(index=False, header=False))

sql4="SELECT COUNT(*) FROM pets  WHERE treatment_done = 1;"

result = cursor.execute(sql4)

df = pd.DataFrame(result)
print("Number of pets for which treatment is done")
print(df.to_string(index=False, header=False))


sql5="SELECT COUNT(*) FROM pets WHERE treatment_done = 1 AND pet_type IS NOT NULL;"

result = cursor.execute(sql5)

df = pd.DataFrame(result)
print("Number of pets for which treatment is done and pet type is known")
print(df.to_string(index=False, header=False))

sql6="SELECT COUNT(T2.pet_name) FROM persons AS T1 JOIN pets AS T2 ON T1.id = T2.owner_id WHERE T1.city = 'east port';"
result = cursor.execute(sql6)

df = pd.DataFrame(result)
print("Number of pets from City of East Port")
print(df.to_string(index=False, header=False))


sql7="SELECT COUNT(T2.pet_name) FROM persons AS T1 JOIN pets AS T2 ON T1.id = T2.owner_id WHERE T1.city = 'east port' AND T2.treatment_done = 1;"
result = cursor.execute(sql7)

df = pd.DataFrame(result)
print("Number of pets from City of East Port and have received treatment")
print(df.to_string(index=False, header=False))

First column is Count and second column is Age
2  5
1  6
1  7
3  8
1  9
2 11
3 12
1 13
4 14
2 16
2 17
3 18
1 19
3 22
2 23
3 24
2 25
1 27
1 30
3 31
1 32
1 33
2 34
3 35
3 36
1 37
2 39
1 40
1 42
2 44
2 48
1 49
1 50
2 51
2 52
2 53
2 54
1 58
1 59
1 60
1 61
2 62
1 63
2 65
2 66
1 67
3 68
1 69
1 70
4 71
1 72
5 73
3 74
Age Group with maximum number of people
73 5
People Without a Last Name
60
People With More Than One Pet
43
Number of pets for which treatment is done
36
Number of pets for which treatment is done and pet type is known
16
Number of pets from City of East Port
49
Number of pets from City of East Port and have received treatment
11